body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background:#1a2537;
    background-size: cover;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background: #fff;
    margin-top:10px;
    padding: 3px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 500px;
    
    border-radius: 2%;
    box-shadow: 1px 1px 10px black;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

h2{
    text-align: center;
    font-size: large;
    color: #1a2537;
}

h3{
    text-align: center;
    font-size: larger;
    color: #1a2537;
}


.input-contenedor input{    
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    outline: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.input-contenedor2{
    margin-top: 32px;
    border: 1px solid #aaa;
}

.input-contenedor2 input{    
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    
    outline: none;
}


.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
    border-right: 2px solid #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 21px;
}

.button:hover{
    background: cadetblue;

}
p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

.input-contenedor span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 54%;
    left: 18%;
    color: #aaa;
    transform: translateY(-50%);
    z-index: 0;
    font-size: 20px;
    transition: .5s;
}


.input-contenedor2 span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 72%;
    left: 18%;
    color: #aaa;
    transform: translateY(-50%);
    z-index: 0;
    font-size: 20px;
    transition: .5s;
}


.focus + span::before{
    top: 45%;
    visibility: hidden;
    transition: .5s;
}

.focus + span::after{
    width: 100%;
}

.focus2 + span::before{
    top: 64%;
    visibility: hidden;
    transition: .5s;
}

.focus2 + span::after{
    width: 100%;
}

/*Alerta*/

.alert {
    padding: 7px;
    background-color: #1a2537;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 0px;
    border-radius: 5px;
    border: 1px solid;
    text-decoration: none;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
/**/


@media(min-width:768px){
    .formulario{
        margin: auto;
    }
}

